# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# IDE
.idea/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Misc
*.log
.DS_Store
temp_experiences.dart
